#header
{
    width: 100%;
    background: #333;
}
.nav
{
    width: 1020px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    padding: 13px;
}
.nav li
{
    float: right;
    border-right:1px solid #fff;
}
.nav a{
	display:inline-block; 
    padding: 0 10px;
}
.nav span
{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/sprites.png);
    background-position: -159px -70px;
}
.logo
{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding-top:10px ;
}
.logo .learn
{
    width:270px;
    height: 40px;
    float: left;
}
.logo .search 
{
    width: 270px;
    height: 40px;
    float:left;
}
.logo .learn dt
{
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 10px;
}
.logo .search dt
{
    width: 37px;
    height: 37px;
    float: left;
}
.logoImg
{
    width: 50px;
    height: 50px;
    background: url(logo.png) no-repeat;
    background-size: 100% 100%;
    float: left;
}
.logoImg2
{
    width: 37px;
    height: 37px;
    background: url(btn.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-top: 17px;
}
.logoImg2:hover{transform: scale(1.2);}
.txt
{
    font-size: 35px;
    font-weight: bold;
}
.txt2
{
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #2377f5;
    font-size: 13px;
    color: #686464;
    margin-top: 17px;
    float: left;
}
.snav
{
    width: 380px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    padding-left: 110px;
    padding-right: 120px;
    float: left;
}
.snav li{float: left;}
.snav a
{
    font-size: 18px;
    color: #686464;
    padding: 10px;
}
